<app-navigation></app-navigation>
<main>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Customer Registration</h2>
                </div>
                <!-- <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Customer Registration</a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Blog Start -->
    <div class="blog">
        <div class="container-fluid">
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">First Name : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="title" placeholder="First Name" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">Last Name : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="title" placeholder="Last Name" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">Email : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="title" placeholder="Email" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">NIC : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="title" placeholder="NIC" value="" required>
                        <input type="file" class="form-control" name="title" placeholder="NIC" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">Profile Picture : </label>
                    </div>
                    <div class="col-lg-6">
                      
                        <input type="file" class="form-control" name="title" placeholder="Profile picture" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">Contact Number : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="title" placeholder="Contact Number" value="" required>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                        <label class="Label">Address : </label>
                    </div>
                    <div class="col-lg-6">
                        <textarea type="text" class="form-control"  name="Address" placeholder="Address" required></textarea>
                    </div>
                </div>
                <div class="row rows form-group">
                    <div class="col-lg-4 text-lg-right">
                    </div>
                    <div class="col-lg-6">
                        <a class="btn" href="#">sign up</a>
                    </div>
                </div>
        </div>
    </div>
    <!-- Blog End -->
</main>
<app-web-footer></app-web-footer>
