.logoimage{
    height: 3rem;
}
.navbar-brand {
    padding: 0;
    margin: 0;
    /* margin-bottom: 10px; */
}
.nav-item{
    text-transform: uppercase;
}
#navbarSupportedContent{
    margin-right: 2rem;
    letter-spacing: 0.1rem;
}
.nav-link {
    margin-right: .8rem;
}
.dropdown-menu{
    background-color: rgba(0,0,0,.6);
}
.dropdown-menu .dropdown-item{
    color: white !important;
}
.dropdown-menu .dropdown-item:hover {
    color: white !important;
    background-color: #aa9166;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #aa9166;
}
.navbar-dark .navbar-nav .nav-link:hover  {
    color: #aa9166;
}
.modal-content{
    padding: 32px;
}



/* box start */
.page-header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    background: #aa9166;
    margin-bottom: 3rem;
}

.page-header h2 {
    position: relative;
    color: #121518;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
    
    /* margin-left: 350px; */
}
