<nav id="Navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../../assets/images/WhatsApp Image 2021-02-05 at 20.27.18.png" class="img-fluid logoimage"
      alt="Placeholder image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">services</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Hospitality partners</a>
            <a class="dropdown-item" href="#">Entertainig</a>
            <a class="dropdown-item" href="#">Transportation</a>
            <a class="dropdown-item" href="#">Decoration</a>
            <a class="dropdown-item" href="#">Photography</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">E-mail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="SupplierRegistration">Update Profile</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Contact Us</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li> 
        
      </ul>
    </div>
</nav>

<!-- contact us -->
<!-- <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="w3wide"><span>Contact Us</span></h2>
                    <p class="w2wide">Pleace state here your valuable comments and your problems
                    </p>
                    <div class="form-group">
                        <label class="Label">First Name : </label>
                        <input type="text" class="form-control"  name="FirstName" placeholder="First Name" value="" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="Label">Email : </label>
                        <input type="email" class="form-control" name="Email" placeholder="Email" value="" required>
                    </div>
                   
                      <form>
                        <div class="form-group">
                          <label for="comment">Comment:</label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                      </form>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>  -->



  <!-- box start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <marquee>Thank You For Join With Event Planner!</marquee>
            </div>
            
        </div>
    </div>
  </div>




   <!-- content -->

 <div class="wrapper">
    <div class="left">
      <img src="../../assets/images/girl2.jpg" alt="user" width="100">
      <h4>Hello!</h4>
      <p>Nipuni Kavindi</p>
    </div>
    <div class="right">
      
      <div class="info">
        <h3>Information</h3>
        <div class="info-data">
          <div class="data">
            <h4>Email</h4>
            <p>nipunikavindi1507@gmail.com</p>
          </div>
          <div class="data">
            <h6>Address</h6>
            
            <p>No:32/3,Marligathanna,veyangoda</p>
        </div>
        <div class="data">
            <h6>Type</h6>
            
            <p>Photograper</p>
        </div>
      </div>
    </div>
  
  
      <div class="projects">
        <h3>projects</h3>
        <div class="projects-data">
          <div class="data">
            <h4>NIC</h4>
            <p>19997788745</p>
          </div>
          <div class="data">
           
              <h4>Contact</h4>
           <p>077-3731488</p>
        </div>
      </div>
    </div>
  </div>
  
  </div>



  <!-- footer start -->
<div class="footer">
    <h6>Event Planner</h6>
    Copyright &copy; Event Planner
  </div>
