/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    padding: 90px 0;
    text-align: center;
    background: #aa9166;
    margin-bottom: 3rem;
}

.page-header h2 {
    position: relative;
    color: #121518;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #121518;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #121518;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #121518;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}
/**********************************************/

.rows .Label{
    text-transform: uppercase;
    margin-bottom: 0 !important;
    margin-top: .4rem !important;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #aa9166;
}

.rows .btn {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aa9166;
    background: #121518;
    border: 2px solid #aa9166;
    border-radius: 0;
    transition: .3s;
}

.rows .btn:hover {
    color: #121518;
    background: #aa9166;
}