body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #cfc6c6;
}

.form1 {
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #1f1f1f;
    color: white;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-width: 30rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: 0 0 3px #2e2e2e;
    opacity: 0.95;
}
.form-group {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.form1 hr {
    background-color: white;
    border-top: 0.2rem solid;
}
.form1 input {
    padding-left: 2.5rem;
    color: black;
}
.form1 input:focus {
    color: black;
}
.icoa {
    position: absolute;
    color: black;
    left: 1.3rem;
    top: 0.2rem;
    font-size: 2rem;
}
.form-group {
    position: relative;
    margin-bottom: 1rem;
}
.btnlogin {
    text-transform: uppercase;
}
.form-check-input {
    margin-left: 0;
}
.rememberme {
    margin-left: 1rem;
}
.topimg {
    font-size: 8rem;
}


.bgimg{
    background: #aa9166;
}