<!-- Footer Start -->
<div class="footer bg-dark text-light">
    <div class="jumbotron footerjum bg-dark text-light">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-about">
                    <h2>About Us</h2>
                    <p class="text-justify">
                        Event planning system is very convinient, flexible to use. It is specially desigend to fulfill the event planning requirements of the people. As per security measures, we would like to get some of your personal information. Hopefully you can get a quick service from this system. So you can join with us and get the maximum advantage. 
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-link">
                            <h2>services</h2>
                            <a href="/Blog">Hospitality partners</a>
                            <a href="/Blog">Entertainig</a>
                            <a href="/Blog">Transportation</a>
                            <a href="/Blog">Decoration</a>
                            <a href="/Blog">Photography</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-link">
                            <h2>Useful Pages</h2>
                            <a href="/ ">Home</a>
                            <a href="">services</a>
                            <a href="/Blog">Blog</a>
                            <a href="">Contact Us</a>
                            <a href="/Login">Login</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i> 5 - B / 26 - 3 Street, kottawa, Srilanka</p>
                            <p><i class="fa fa-phone-alt"></i> +012 345 67890</p>
                            <p><i class="fa fa-envelope"></i> eventplanner1507@gmail.com</p>
                            <!-- <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron footer-menu  bg-dark text-light">
        <div class="para">
            <!-- <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a> -->
            <h5>Thank You For Join With Us</h5>
            <!-- <marquee>Thank You For Join With Us</marquee> -->
        </div> 
    </div>
    <div class="jumbotron copyright  bg-dark text-light">
        <div class="row">
            <div class="col-md-6 text-left">
                <p>&copy; <a href="#">Nipuni</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6 text-right">
                <p>Designed By <a href="#">Nipuni</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
