<app-navigation></app-navigation>
<main>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Our Blogs</h2>
                </div>
                <!-- <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Our Blog</a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Blog Start -->
    <div class="blog">
        <div class="container-fluid">
            <div class="section-header">
                <h2 class="hedding1 text-center"><span>Our Services</span></h2>
                <br>
            </div>
            <div class="row">
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/a2.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Hospitality Partners
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <p> hospitality partners</p>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2021</p>
                        </div>
                      <p class="card-text"><b>*This is a most important part of your precious day. Now you can be easily booked through this service as per requirement of the desired area.*</b></p>
                      <!-- <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a> -->
                      <h6>Thank you!</h6>
                    </div>
                </div>
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/e2.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Entertainig
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <p> entertainig</p>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2021</p>
                        </div>
                      <p class="card-text"><b>*If you need traditional dancing group, western dancing group or music band, DJ now all are in one place.*</b></p>
                      <!-- <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a> -->
                      <h6>Thank you!</h6>
                    </div>
                </div>
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/f5.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Tranceportation
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <p> tranceportation </p>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2021</p>
                        </div>
                      <p class="card-text"><b>*This is a great opportunity to get the transportation you need in one place to another place on your precious day.*</b></p>
                      <!-- <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a> -->
                      <h6>Thank you!</h6>
                    </div>
                </div>
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/f4.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Decoration
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <p>  decoration </p>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2021</p>
                        </div>
                      <p class="card-text"><b>*Here is a great opportunity to make your precious day even more beautiful and exciting.*</b></p>
                      <!-- <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a> -->
                      <h6>Thank you!</h6>
                    </div>
                </div>
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/p2.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Photography
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <p>  decoration </p>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2021</p>
                        </div>
                      <p class="card-text"><b>*Here is a great opportunity to keep your precious day memories with you forever.*</b></p>
                      <!-- <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a> -->
                      <h6>Thank you!</h6>
                    </div>
                </div>
                <!-- <div class="card" style="width: 24rem;">
                    <img class="card-img-top" src="../../assets/images/allie-smith-89k7poPsypk-unsplash.jpg" alt="Card image cap">
                    <div class="card-body blog-item">
                        <br>
                        <h5 class="card-title">
                          Blog Title
                        </h5>
                        <div class="meta">
                            <i class="fa fa-list-alt"></i>
                            <a href=""> Jewellery</a>
                            <i class="fa fa-calendar-alt"></i>
                            <p> 01-Jan-2045</p>
                        </div>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a class="btn" href="/Blog/Page">Read More <i class="fa fa-angle-right"></i></a>
                      <h6>Thank you!</h6>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul> 
                </div>
            </div> -->
        </div>
    </div>
    <!-- Blog End -->



    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                </div>
                <!-- <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Our Blog</a>
                </div> -->
            </div>
        </div>
    </div>

    <div class="page-bot">
        <h2>The Complete<br>Event Planning<br>System</h2>
        <p>Event planning system is very convinient, flexible to use. It is specially desigend to fulfill the event planning requirements of the people. As per security measures, we would like to get some of your personal information. Hopefully you can get a quick service from this system. So you can join with us and get the maximum advantage. 

            2 parties can use this sytem, the customer and the supplier. There are 5 type of services we are planning to supply. They are hospitality partners, photography, entertaining, transportation and decorations.  So according to these services any supplier can join with this system and any use can get the service according to these service categories. These 5 services are the main thing in a event. 
            After choose an event customer should pay the bill through this system then service provider will fixed the date and supply the service. So this is about our entire system.</p>

            <h5>The technology</h5>
                <p>The project development is comprised of several components, each having important and specify roles, and supported by a solid infrastructure.</p>
    </div>
  

    






    
</main>
<app-web-footer></app-web-footer>